# .gitignore
# Project files and directories
/dansah/local_settings.py
/dansah/static/
/dansah/tmp/


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Translations
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target

*/migrations
/dansah/devotional/migrations/0002_alter_devotional_devotion_date_and_more.py
/dansah/devotional/migrations/0004_alter_devotional_devotion_date.py
/dansah/homeministriesmaterial/migrations/__init__.py
/dansah/homeministriesmaterial/__init__.py
/dansah/quoteofday/migrations/__init__.py
/dansah/quoteofday/__init__.py
/dansah/role/migrations/__init__.py
/dansah/role/__init__.py
/dansah/homeministriesmaterial/admin.py
/dansah/quoteofday/admin.py
/dansah/role/admin.py
/dansah/homeministriesmaterial/apps.py
/dansah/quoteofday/apps.py
/dansah/role/apps.py
/dansah/homeministriesmaterial/models.py
/dansah/quoteofday/models.py
/dansah/role/models.py
/dansah/devotional/serializers.py
/dansah/homeministriesmaterial/serializers.py
/dansah/homeministriesmaterial/tests.py
/dansah/quoteofday/tests.py
/dansah/role/tests.py
/dansah/homeministriesmaterial/uploadfiles.py
/dansah/homeslider/uploadfiles.py
/dansah/role/uploadfiles.py
/dansah/homeevents/urls.py
/dansah/homeministriesmaterial/urls.py
/dansah/profiles/urls.py
/dansah/quoteofday/urls.py
/dansah/homeministriesmaterial/views.py
/dansah/quoteofday/views.py
/dansah/role/views.py
